@font-face {
    font-family: standart;
    src: url(Oswald-VariableFont_wght.ttf);
}

body {

    padding: 2em;
    font-family: standart;
    background-color: #333;
}

#container {
    display: flex;
    justify-content: center;
}
